section {
  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
